$primaryWordColor: rgb(255, 255, 255);
$secondWordColor: rgb(82, 234, 240);
$contentWordColor: rgb(255, 255, 255);
$backgroundColor: rgb(46, 43, 43);
$sidebarColor: rgb(86, 90, 88);
$contentColor: rgb(132, 134, 133);