//Bigger Screen
@media screen and (min-width: 2560px) {
    .header {
        .icon {
            font-size: 30px;
        }

        h1 {
            font-size: 150px !important;
        }

        h2 {
            font-size: 60px !important;
        }
    }

    .sidebar {
        width: 15vw !important;    
    }
    .content {
        left: 15vw !important;
        width: 85vw !important;
    }
}

//Full HD Screen
@media screen and (min-width: 1920px) and (max-width: 2559px) {
    .header {
        h1 {
            font-size: 100px !important;
        }

        h2 {
            font-size: 35px !important;
        }
    }
}

//Standard to HD Screen
@media screen and (min-width: 1024px) and (max-width: 1919px) {

}

//Tablet Screen
@media screen and (min-width: 941px) and (max-width: 1023px) {
    .sidebar {
        ul {
            font-size: 18px !important;
        }
    }
}

//Smartphone Screen
@media screen and (max-width: 940px) {
    .front {
        margin-top: 150px !important;
        .icon {
            a {
                top: 20vh !important;
            }
        }

        h1 {
            font-size: 35px !important;
        }
        
        h2 {
            font-size: 20px !important;
        }
    }
    .sidebar {
        width: 100vw !important;
        left: -100vw !important;

        &.show {
            left: 0 !important;
        }

        ul {
            font-size: 6vw !important;
            
            li {
                padding: 2vh !important;
            }
        }
    }

    .nav-button {
        .show {
            transform: translate(80vw) !important;
        }
    }

    .content {
        left: 100vw !important;

        div {
            display: block !important;
            transition: all .5s;
            position: absolute;
            background: $contentColor;;
            padding: 0 !important;
            font-size: 4vw !important;
            left: 0vw;
            width: 100vw !important;

            button {
                width: 35px;
                height: 35px;
                display: block !important;
                position: absolute;
                top: 15px;
                left: 15px;
                outline: none;
                background: none;
                border: none;

                div {
                    width: 35px !important;
                    height: 5px !important;
                    background-color: $contentWordColor;

                    &:nth-child(1) {
                        transform: rotate(45deg) translate(-2px, -1px);
                    }
                    
                    &:nth-child(2) {
                        transform: rotate(-45deg) translate(1px, -2px);
                    }
                }
            }

            &.show {
                left: -100vw;
                height: 100%;
                overflow-y: auto;
            }
        }
    }
}